@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 100;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/roboto/v27/KFOkCnqEu92Fr1MmgWxP.ttf) format('truetype');
}
body {
  background-image: linear-gradient(to right bottom, #051937, #002762, #00358f, #0041bd, #124beb);
  height: 100vh;
  color: white;
  font-family: 'Roboto', sans-serif;
  /* flex */
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
}
small {
  margin: 2vh 0 5vh;
}
small a:visited {
  color: #06f;
}
.democlass {
  color: red;
}
#eventDiv1 {
  padding: 50px;
  background-color: #4753ff;
  color: white;
}
#output2 {
  padding: 50px;
  background-color: #4753ff;
  color: white;
}
a:focus,
a:active {
  color: green;
}
.mystyle {
  width: 300px;
  height: 50px;
  background-color: coral;
  color: white;
  font-size: 25px;
}
/* 
#myDIV {
    height: 250px;
    width: 400px;
    padding: 10px;
    margin: 15px;
    border-top: 15px solid black;
    border-left: 10px solid red;
    background-color: lightblue;
}
 */
#myDIV {
  height: 250px;
  width: 400px;
  padding: 10px;
  margin: 15px;
  border: 5px solid red;
  background-color: lightblue;
}
.anchors {
  display: block;
  padding: 5px;
  background-color: black;
  color: white;
}
#myAnchor {
  background-color: dodgerblue;
}
.container {
  background-color: tomato;
  color: white;
  padding: 20px;
}
.removeMeH3 {
  color: lime;
}
#myDIV21 {
  margin-top: 10px;
  height: 250px;
  width: 250px;
  overflow: auto;
}
#content21 {
  height: 800px;
  width: 2000px;
  padding: 10px;
  background-color: coral;
}
#myDIV44 {
  height: 250px;
  width: 250px;
  overflow: auto;
  background: green;
}
#content44 {
  margin: 500px;
  height: 800px;
  width: 2000px;
  background-color: coral;
}
#myDIV31 {
  height: 250px;
  width: 250px;
  overflow: auto;
}
#content31 {
  height: 800px;
  width: 2000px;
  background-color: coral;
}
.class88 {
  color: lime;
}
.div34 {
  background: yellow;
  border: 1px solid black;
  padding: 10px;
}
.droptarget {
  float: left;
  width: 100px;
  height: 35px;
  margin: 15px;
  padding: 10px;
  border: 1px solid #aaaaaa;
}
#div256 {
  border: 1px solid black;
  width: 200px;
  height: 100px;
  overflow: scroll;
}
#myDIV443 {
  width: 100px;
  height: 100px;
  background: red;
  -webkit-transition: width 2s;
  /* For Safari 3.1 to 6.0 */
  transition: width 2s;
}
#myDIV443:hover {
  width: 400px;
}
#myDIV221 {
  border: 1px solid black;
}
#myDIV558 {
  margin: 25px;
  width: 550px;
  height: 100px;
  background: orange;
  position: relative;
  font-size: 25px;
  -webkit-animation-name: mymove;
  /* Chrome, Safari, Opera */
  -webkit-animation-duration: 5s;
  /* Chrome, Safari, Opera */
  animation-name: mymove;
  animation-duration: 5s;
}
