@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 100;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/roboto/v27/KFOkCnqEu92Fr1MmgWxP.ttf) format('truetype');
}
body {
  background-image: linear-gradient(to right bottom, #051937, #002762, #00358f, #0041bd, #124beb);
  height: 100vh;
  color: white;
  font-family: 'Roboto', sans-serif;
  /* flex */
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
}
small {
  margin: 2vh 0 5vh;
}
small a:visited {
  color: #06f;
}
.democlass {
  color: red;
}
#eventDiv1 {
  padding: 50px;
  background-color: #4753ff;
  color: white;
}
